@tailwind base;
@tailwind components;
@tailwind utilities;

.fit {
  min-height: calc(100vh - 88px);
}
.icon1 {
  top: -3px;
  left: 111px;
}
.icon2 {
  top: 20px;
  left: 117px;
}
.icon3 {
  bottom: 26px;
  left: -10px;
}
.icon4 {
  bottom: 15px;
  left: 10px;
}
.big-icon {
  top: -5px;
  bottom: 0;
  left: -8px;
}
.big-icon img {
  height: 103%;
}
.card {
  min-height: 184px;
}
.trapozid {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
}
.trapozid p {
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.trapozid:before {
  content: "";
  position: absolute;
  left: 1px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 57px 47px;
  border-color: transparent transparent #18181b;
  transform: translateX(-100%);
}
